INFO
.DS_Store
._INFO
._LICENSE
._gitignore
._commonFuncs.py
._README.md
._SnowBudget.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.pyc

/source/__pycache/
/source/config.py
/test_forcings/*
